.account {
  text-align: right;
  font-size: 0.75rem;

  .address {
    font-weight: 900;
    line-height: 19px;
  }

  .amount {
    font-weight: 500;
  }

  .disconnect {
    cursor: pointer;
    color: #8D9199;
    font-weight: 900;
  }
}
