body {
  background: linear-gradient(315deg, #000000 0%, #1B2232 100%);
  font-family: 'avenir', 'Lato';
  color: #FFFFFF;
  height: 100%;
  margin: 0;


  #app {
    height: 100%;
    max-width: 1400px;
    margin: auto;

    .app_content {
      height: 100%;
    }
  }

  .link {
    text-decoration: none;
    color: #01D0FF;
    font-weight: 700;
    cursor: pointer;
  }

  .flex-container {
    display: flex;

    .flex-grow-container {
      flex: 1;
    }
  }
}
