.primary-btn {
  padding: 0.5rem 1rem;
  background: #2291f3;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;

  &.disabled {
    background-color: lightgrey;
    cursor: auto;
  }
}
