.next-round {
  font-weight: 500;
  margin-bottom: 1rem;

  .description {
    color: red;
    display: flex;

    .logo-clock {
      margin-right: 0.25rem;
    }
  }

  .remaining-blocks {
    font-size: 1.5rem;
  }
}
