.next-round {
  display: flex;
  font-weight: 500;
  margin-bottom: 1rem;

  .description {
    flex: 1;
  }

  .values {
    text-align: right;

    .remaining-blocks {
      font-size: 0.75rem;
      color: grey;
    }
  }
}
