.next-round {
  font-weight: 700;
  margin-bottom: 1rem;

  .description {
    color: #FA7268;
    display: flex;
    line-height: 22px;

    .logo-clock {
      margin-right: 0.4rem;
      margin-top: 0.2rem;
    }
  }

  .remaining-blocks {
    font-size: 1.5rem;
  }
}
