.node-list {
  padding: 2rem;

  .legend {
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 1rem;


    .instruction {
      flex: 1;
      padding-left: 0.75rem;
      color: #ADB0B5;
      font-size: 0.9rem;
      font-weight: 900;

      &::before{
        content: '';
        display: inline-block;
        width: 0.1875rem;
        height: 0.75rem;
        transform: translate(-0.5rem, 0.1rem);
        background-color: #78C326;
      }
    }

    .legend-items {
      display: flex;
      font-size: 0.875rem;
      color: #676767;

      .legend-item {
        margin-left: 2.5rem;

        &::before{
          content: '';
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 0.375rem;
          transform: translate(-0.375rem, 0.1rem);
        }

        &.purple::before {
          background-color: #445895;
        }

        &.blue::before {
          background-color: #68B5FA;
        }

        &.green::before {
          background-color: #7ED321;
        }

        &.grey::before {
          background-color: #2B2F39;
        }
      }
    }
  }

  .table-header,
  .odd-row {
    background-color: #293248;
  }

  .table-header {
    display: flex;
    padding: 0.5rem 1.25rem;
    background-color: #293248;
    color: #ADB0B5;
    font-size: 0.875rem;
    font-weight: 900;
    padding-right: 4rem;
  }

  .popup-container {
    width: 16rem;
    background-color: #212E4B;
  }

  .table {
    .order {
      flex: 5%;
    }

    .name {
      flex: 35%;
      font-weight: 900;
    }

    .rewards {
      flex: 15%;
    }

    .current-stake {
      flex: 30%;
    }

    .table-item .current-stake {
      display: flex;
      margin-right: 0.5rem;

      .my-stake {
        color: #7ED321;
        padding-left: 0.5rem;

        &::before{
          content: '';
          display: inline-block;
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 0.375rem;
          transform: translateX(-0.375rem);
          background-color: #7ED321;
        }
      }
    }

    .distribution {
      flex: 25%;
    }
  }

  .table-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 1.25rem;
  }
}
