.node-details {
  padding: 1rem;

  .header {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.5rem;
    height: 3rem;

    .link {
      flex: 1;
    }
  }

  .primary-btn {
    height: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;

  }

  .content-container {
    display: flex;

    .row {
      margin-bottom: 1rem;
    }

    .focus-text {
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 0.75rem;
      height: 2.75rem;
    }

    .node-info {
      flex: 33%;
      margin-right: 3rem;

      .info-header {
        padding-bottom: 1rem;
        border-bottom: 1px solid #29344D;
        margin-bottom: 1.5rem;
      }

      .distro-info {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #29344D;
        margin-bottom: 1.5rem;
        color: #83868B;

        .focus-text {
          color: white;
        }

        .stake-distro-bar {
          height: 1rem;
          margin-bottom: 0.25rem;
        }

        .stake-distro-container .flex-container {
          font-size: 0.75rem;
          color: #83868B;
        }
      }

      .help {
        font-size: 0.85rem;
        font-weight: 500;
        line-height: 1rem;
        color: #8D9199;
      }
    }

    .user-stake {
      flex: 66%;

      .row {
        margin-bottom: 1.5rem;

        .stake-ont {
          background-color: rgba(1, 208, 255, 0.2);
          border: 1px solid #01D0FF;
          color: #01D0FF;
          width: 6rem;
          display: flex;


          &.disabled {
            background-color: rgba(1, 208, 255, 0.2);
            border: 1px solid #01D0FF;
            color: #01D0FF;
            cursor: auto;
            width: 6rem;
            opacity: 0.12;
          }
        }
      }

      .section-description {
        flex: 1;
        padding-left: 0.75rem;
        padding-bottom: 0.5rem;
        color: #ADB0B5;
        font-size: 0.9rem;
        font-weight: 900;

        &::before{
          content: '';
          display: inline-block;
          width: 0.1875rem;
          height: 0.75rem;
          transform: translate(-0.5rem, 0.1rem);
          background-color: #78C326;
        }
      }

      .staked-section {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #2B2F39;
        margin-bottom: 3rem;

        .request-withdraw-btn{
          background-color: #FA7268;
          color: #1D2434;
          font-size: 0.75rem;
          cursor: pointer;
        }
      }

      .bold-text {
        font-weight: 600;
      }

      .description {
        font-size: 0.75rem;

      }

      .disabled {
        color: #2B2F39;

        &.primary-btn {
          color: white;
          background-color: #FA7268;
          cursor: auto;
        }

        .primary-btn {
          background-color: #01D0FF;
          opacity: 0.12;
          color: #1D2434;
          font-size: 0.75rem;
          cursor: auto;
        }

        .request-withdraw-btn{
          background-color: #FA7268;
          opacity: 0.12;
          color: #1D2434;
          font-size: 0.75rem;
          cursor: auto;
        }
      }
    }
  }
}
