.stake-distro-bar {
  border-radius: 1rem;
  overflow: hidden;
  height: 0.5rem;
  display: flex;

  .purple {
    background-color: #445895;
  }

  .blue {
    background-color: #68B5FA;
  }

  .green {
    background-color: #7ED321;
  }

  .grey {
    background-color: #2B2F39;
  }
}
