.stake-card {
  display: flex;
  padding: 1rem;
  font-size: 0.75rem;
  align-items: center;
  background-color: #1D2434;
  margin: 0.75rem 0;
  cursor: pointer;

  .flex-grow-container {
    flex: 1;
    font-weight: 600;

    .name {
      font-size: 1.5rem;
      padding-bottom: 0.25rem;
    }

    .stake-amounts {
      display: flex;

      .my-stake {
        margin-right: 1rem;
        font-size: 0.9rem;
      }

      .active-stake {
        font-weight: 400;
        color: #9498A3;
        font-size: 0.8rem;
      }
    }
  }

  .contrib-percentage {
    margin-bottom: 0.75rem;
    color: grey;
    display: flex;
    align-items: center;

    .tooltip .popup-container {
      width: 9.5rem;
      background-color: #212E4B;
      color: #FFFFFF;
    }
  }

  .action-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .action-text {
      color: #9498A3;
      font-weight: 900;
    }
  }
}
