.connect-o3 {
  background: url('../assets/connectO3.svg');
  height: 2rem;
  width: 12rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-steak {
  background: url('../assets/steak.svg');
  height: 2rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-check {
  background-color: #7ED321;
  -webkit-mask: url('../assets/check.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/check.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 1rem;
  width: 1rem;
}
