.connect-o3 {
  background: url('../assets/connectO3.svg');
  height: 2rem;
  width: 12rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-steak {
  background: url('../assets/steak.svg');
  height: 2.375rem;
  width: 1.75rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-check {
  background-color: #7ED321;
  -webkit-mask: url('../assets/check.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/check.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 1rem;
  width: 1rem;
}

.logo-times {
  background-color: grey;
  -webkit-mask: url('../assets/times.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/times.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 1rem;
  width: 1rem;
}

.logo-clock {
  background-color: #FA7268;
  -webkit-mask: url('../assets/clock.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/clock.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 0.8125rem;
  width: 0.75rem;
}

.logo-info {
  background-color: #2291f3;
  -webkit-mask: url('../assets/info.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/info.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 1rem;
  width: 1rem;
}
