.connect-o3 {
  background-color: red;
  -webkit-mask: url('../assets/wallet.svg') no-repeat 50% 50%;
  -webkit-mask-size: contain;
  mask: url('../assets/wallet.svg') no-repeat 50% 50%;
  mask-size: contain;
  height: 1.3125rem;
  width: 1.3125rem;
}
