.withdraw-stake-modal {
  .content-container {
    width: 40%;
    max-width: 30rem;
  }

  .content-body {
    font-size: 0.875rem;

    .info-container {
      border-bottom: 1px solid #29344D;
      margin-bottom: 1rem;
    }

    .description {
      color: grey;
    }

    .row {
      margin-bottom: 1rem;
      color: white;
    }

    .bold-text {
      font-weight: 600;
      font-size: 1.25rem;
      color: white;
    }

    .amounts-container {
      align-items: center;
    }

    .amount {
      font-weight: 500;
      font-size: 2rem;
      color: white;
    }

    .primary-btn {
      display: inline-block;
      background-color: #FA7268;
      border: none;
      color: #1D2434;
    }

    .btn-container {
      text-align: center;
    }
  }
}
