@import 'components/app';
@import 'components/svg';
@import 'components/button';
@import 'components/account';
@import 'components/headerTitle';
@import 'components/nextRound';
@import 'components/home';
@import 'components/stakedNodes';
@import 'components/totalStakes';
@import 'components/stakeCard';
@import 'components/nodeList';
@import 'components/stakeDistroBar';
@import 'components/nodeDetails';
@import 'components/stakeDistroPortion';
@import 'components/notification';
@import 'components/customSlider';
@import 'components/modal';
@import 'components/withdrawModal';
@import 'components/stakeModal';
